<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>874157671570-cvqa0n1ohk90hv8i626f224qrmv579si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874157671570-cvqa0n1ohk90hv8i626f224qrmv579si</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>874157671570-pi7tp35rftdhbtii0jtl9t3598shcrqf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgN_oDOTsNXuwCedlyE45dc1t6-k00BJI</string>
	<key>GCM_SENDER_ID</key>
	<string>874157671570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hamp.Hamp</string>
	<key>PROJECT_ID</key>
	<string>hamp-57b75</string>
	<key>STORAGE_BUCKET</key>
	<string>hamp-57b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874157671570:ios:ded32e587e7f9a6c</string>
	<key>DATABASE_URL</key>
	<string>https://hamp-57b75.firebaseio.com</string>
</dict>
</plist>